@charset "utf-8";
/* DigiTree Common.css ver01 2107.08.08*/

/* margin */
/* margin-top */
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt35{margin-top: 35px;}
.mt40{margin-top: 40px;}
.mt45{margin-top: 45px;}
.mt50{margin-top: 50px;}
.mt55{margin-top: 55px;}
.mt60{margin-top: 60px;}
.mt65{margin-top: 65px;}
.mt70{margin-top: 70px;}
.mt75{margin-top: 75px;}
.mt80{margin-top: 80px;}
.mt85{margin-top: 85px;}
.mt90{margin-top: 90px;}
.mt95{margin-top: 95px;}
.mt100{margin-top: 100px;}

/* margin-bottom */
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}
.mb40{margin-bottom: 40px;}
.mb45{margin-bottom: 45px;}
.mb50{margin-bottom: 50px;}
.mb55{margin-bottom: 55px;}
.mb60{margin-bottom: 60px;}
.mb65{margin-bottom: 65px;}
.mb70{margin-bottom: 70px;}
.mb75{margin-bottom: 75px;}
.mb80{margin-bottom: 80px;}
.mb85{margin-bottom: 85px;}
.mb90{margin-bottom: 90px;}
.mb95{margin-bottom: 95px;}
.mb100{margin-bottom: 100px;}


/* padding */
/* padding-top */
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pt30{padding-top: 30px;}
.pt35{padding-top: 35px;}
.pt40{padding-top: 40px;}
.pt45{padding-top: 45px;}
.pt50{padding-top: 50px;}
.pt55{padding-top: 55px;}
.pt60{padding-top: 60px;}
.pt65{padding-top: 65px;}
.pt70{padding-top: 70px;}
.pt75{padding-top: 75px;}
.pt80{padding-top: 80px;}
.pt85{padding-top: 85px;}
.pt90{padding-top: 90px;}
.pt95{padding-top: 95px;}
.pt100{padding-top: 100px;}

/* padding-bottom */
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb35{padding-bottom: 35px;}
.pb40{padding-bottom: 40px;}
.pb45{padding-bottom: 45px;}
.pb50{padding-bottom: 50px;}
.pb55{padding-bottom: 55px;}
.pb60{padding-bottom: 60px;}
.pb65{padding-bottom: 65px;}
.pb70{padding-bottom: 70px;}
.pb75{padding-bottom: 75px;}
.pb80{padding-bottom: 80px;}
.pb85{padding-bottom: 85px;}
.pb90{padding-bottom: 90px;}
.pb95{padding-bottom: 95px;}
.pb100{padding-bottom: 100px;}

/* padding-top,padding-bottom */
.section10{padding-top: 10px; padding-bottom: 10px;}
.section30{padding-top: 30px; padding-bottom: 30px;}
.section50{padding-top: 50px; padding-bottom: 50px;}
.section70{padding-top: 70px; padding-bottom: 70px;}
.section100{padding-top: 100px; padding-bottom: 100px;}

/* no-padding */
.no-padding{padding: 0;} 
.no-padding-left{padding-left: 0;}
.no-padding-right{padding-right: 0;}

/* font */
.fw100{font-weight: 100;}
.fw_b{font-weight: bold;}
.fw_n{font-weight: normal;}
.pre-wrap{white-space: pre-wrap;}
.ellipsis{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }


/* checkbox-custom (디자인 체크박스)*/
.checkbox-custom {
  position: relative;
  margin-bottom: 5px;
}
.checkbox-custom.checkbox-inline {
  padding-left: 0px;
  margin: 0px;
}
.checkbox-custom.checkbox-inline label {
  margin-right: 15px;
}
.checkbox-custom:last-child, .checkbox-custom:last-of-type {
  margin-bottom: 0;
}
.checkbox-custom input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  margin-left: -20px;
}
.checkbox-custom input[type="checkbox"]:checked + label:after {
  font-family: 'FontAwesome';
  content: '\F00C';
  top: 6px;
  left: 0px;
  margin-top: -5px;
  font-size: 11px;
  line-height: 1;
  padding: 5px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.checkbox-custom input[type="checkbox"]:checked + label:before {
  border-color: #999999;
  border-width: 10px;
}
.checkbox-custom input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
.checkbox-custom input[type="checkbox"]:disabled:checked + label:after {
  color: #999999;
}
.checkbox-custom input[type="checkbox"]:disabled + label {
  cursor: not-allowed;
}
.checkbox-custom input[type="checkbox"]:disabled + label:before {
  background-color: #999999;
}
.checkbox-custom label.check { cursor: pointer; display: inline-block; padding-left: 25px !important; position: relative; transition: border .2s linear 0s, color .2s linear 0s; font-weight: normal;}
.checkbox-custom label.check:before, .checkbox-custom label.check:after {
  position: absolute;
  display: inline-block;
  transition: border .2s linear 0s, color .2s linear 0s;
}
.checkbox-custom label.check:before {
  content: "";
  background-color: #fff;
  border: 1px solid #c8c7cc;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  left: 0;
  margin-right: 10px;
  top: 1px;
}
.checkbox-custom label.check + label.error { display: block; }
.checkbox-primary input[type="checkbox"]:checked + label:after { color: #ffffff;}
.checkbox-black input[type="checkbox"]:checked + label:before { border-color: #333333;}

/* radio-custom (디자인 체크박스)*/
.radio-inline, .checkbox-inline{padding-left: 0;}
.radio-custom {
  position: relative;
  margin-bottom: 5px;
}

.radio-custom.radio-inline {
  padding-left: 0px;
  margin: 0px;
}
.radio-custom.radio-inline label {
  margin-right: 15px;
  font-size: 1.1em;
}
.radio-custom.radio-inline label {
  margin-right: 15px;
}
.radio-custom:last-child, .radio-custom:last-of-type {
  margin-bottom: 0;
}
.radio-custom input[type="radio"] {
  opacity: 0;
  position: absolute;
  margin-left: -20px;
}
.radio-custom input[type="radio"]:checked + label:before {
  border-width: 6px;
  background: #999999;
  border-color: #fff;
}
.radio-custom input[type="radio"]:disabled {
  cursor: not-allowed;
}
.radio-custom input[type="radio"]:disabled:checked + label:before {
  background: #999999;
}
.radio-custom input[type="radio"]:disabled + label {
  cursor: not-allowed;
}
.radio-custom input[type="radio"]:disabled + label:before {
  background-color: #ffffff;
}
.radio-custom label {
  cursor: pointer;
  display: inline-block;
  padding-left: 30px !important;
  position: relative;
  line-height: 22px;
  min-height: 20px;
}
.radio-custom label:before, .radio-custom label:after {
  height: 18px;
  width: 18px;
  left: 0;
  margin-right: 10px;
  bottom: 2px;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.215, 1.33) 0s;
  display: inline-block;
  position: absolute;
  content: "";
}
.radio-custom label:before {
  border: 1px solid #d0d0d0;
  border-radius: 99px;
}
.radio-custom label:after {
  border: 1px solid #c8c7cc;
  border-radius: 99px;
}
.radio-custom label + label.error {
  display: block;
}

.radio-success input[type="radio"]:checked + label:before {
  background: #88b93c;
}

.radio-warning input[type="radio"]:checked + label:before {
  background: #fea223;
}

.radio-danger input[type="radio"]:checked + label:before {
  background: #d2322d;
}

.radio-info input[type="radio"]:checked + label:before {
  background: #5bc0de;
}

.radio-primary input[type="radio"]:checked + label:before {
  background: #004E90;
}

.center-block{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}